@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&display=swap');

#root {
     /* height: 100%; */
     position: relative;
     /* This padding is related to the footer and keeping it on the bottom of the screen */
     padding-bottom: 1rem;
}

body{
     text-align: center;
     background-color: gray;
     height: 100vh;
     margin: 0;
}

input {
     max-width: 40%;
     max-height: 1.5rem;
}

h3 {
     font-size: 1.2rem;
     text-decoration: underline;
}

h4 {
     font-family: "Montserrat", sans-serif;
}

span {
     color: lightgreen;
}

.heading{
     font-family: 'Montserrat', sans-serif;
     color: white;
     font-size: 2rem;
     margin: 0 0 2rem 0;
     padding: 1rem 0;
     background-color: black;
     border-bottom: 1px solid white;
}

.cardContainer{
     color: black;
     font-family: "Montserrat", sans-serif;
     display: grid;
     grid-template-rows: 1fr 1fr;
     gap: 2rem;
     width: 100%;
     height: auto;
     margin-bottom: 2rem;
     padding: 20px 0;
     text-align: center;
     justify-items: center;
}

.bigCard1{
     width: 90%;
     background-color: lightgreen;
     border-radius: 20px;
     border: 2px solid black;
     box-shadow: 3px 3px 3px darkgrey;
}

.item {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.item p{
     display: inline;
     padding-right: 5px;
     font-size: 1.5rem;
}
.item input {
     text-align: left;
     font-size: 1.5rem;
     border-radius: 10px;
}
.add-button {
     font-size: 1.1rem;
     min-height: 1.5rem;
     width: 1.5rem;
     /* padding: 0 7px; */
     border-radius: 50%;
     margin-left: 5px;
     border: 1px solid white;
     background-color: gray;
     color: white;
     transition: all .3s ease;
}

.add-button:hover{
     background-color: rgb(75, 75, 75);
     cursor: pointer;
}

.addedPrice{
     display: block;
     margin-right: 10%;
}

.listItem{
     display: inline-block;
     list-style: none;
     font-family: "PT Sans", sans-serif;
     font-size: 1.15rem;
     margin: 0 1rem 1rem 0;
}

#totalButton{
     font-family: "Montserrat", sans-serif;
     font-size: 1rem;
     background-color: black;
     color: white;
     display: block;
     text-align: center;
     margin: 2rem auto;
     padding: .5rem 1.25rem;
     box-shadow: 3px 3px 3px darkgrey;
     border-radius: 20px;
     transition: all .3s ease;
}
#totalButton:hover{
     background-color: white;
     color: black;
     cursor: pointer;
}
#deleteButton {
     display: inline-block;
     background-color: rgb(249, 130, 130);
     min-height: 1.5rem;
     width: 1.5rem;
     font-size: 1.1rem;
     color: white;
     border: 1px solid white;
     border-radius: 50%;
     padding: 0 7px;
     transition: all .3s ease;
}
#deleteButton:hover {
     background-color: rgb(247, 52, 52);
     cursor: pointer;
}

.balanceSection {
     display: grid;
     grid-template-rows: .5fr 1fr;
     font-family: "Montserrat", sans-serif;
     width: 90%;
     color: white;
     margin: 0 1rem 7rem 1rem;
     background-color: black;
     align-items: center;
     padding: 30px 0;
     border-radius: 20px;
     border: 2px white solid;
     box-shadow: 3px 3px 3px darkgrey;
}

.balanceSectionTop {
     display: grid;
     grid-template-rows: 1fr 1fr;
     justify-items: center;
     align-items: center;
}

.balanceSectionBottom {
     display: grid;
     grid-template-rows: repeat(4, 1fr);
     justify-items: baseline;
     align-items: center;
     margin: auto 1rem auto 1rem;
}

#balance-button {
     font-family: "Montserrat", sans-serif;
     font-size: .8rem;
     border-radius: 20px;
     height: 50%;
     width: 50%;
     color: lightgreen;
     border: 1px white solid;
     background-color: black;
     transition: all .3s ease;
}

#balance-button:hover {
     cursor: pointer;
     color: black;
     background-color: lightgreen;
}

.net-income {
     font-size: 1rem;
     color: white;
     text-decoration: underline;
}

.balance-savings-item {
     text-decoration: none;
     font-size: 1rem;
}

.footer{
     background-color: black;
     position: absolute;
     margin-top: 5rem;
     bottom: 0;
     left: 0;
     right: 0;
     color: darkgray;
     border-top: 1px solid white;
}

@media all and (min-width: 700px){
     .cardContainer {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          gap: 8rem;
     }

     .bigCard1 {
          width: 35%;
     }

     .balanceSection {
          margin: 1rem auto 7rem auto;
          width: 80%;
     }

     #balance-button {
          height: 65%;
          width: 25%;
     }
}
